body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #1c2b35;
}
.header-container{
    max-width: 1300px;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-item a{
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    text-transform: capitalize;
}
.nav-item a:hover{
    color: orange;
}